<div class="outer">
<div class="controls">
  <button [class]="showhide_button_class" (click)="toggle_start_graph()">{{toggle_text}}</button>
  <span class="iteration_span">Iteration: {{iteration}}</span>
  <button class="reset_button" (click)="reset_graph()">reset</button>
  <button [class]="plus_button_class" (click)="iterate(1)">+1</button>
  <button [class]="plus_button_class" (click)="iterate(5)">+5</button>
  <button [class]="plus_button_class" (click)="iterate(10)">+10</button>
  <span class="message">{{message}}</span>
</div>
<div [class]="starting_graph_class">
  <h3>Starting graph</h3>
  <app-graph-output #start [show_node_names]=false></app-graph-output>
</div>
<div [class]="result_graph_class">
  <h3>Result</h3>
  <app-graph-output #result [show_node_names]=false></app-graph-output>
</div>
</div>
