span.iteration_span {
    padding: 10px;
    width: 100pt;
    display: inline-block;
}

div.outer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 36pt auto;
    width: 100%;
}

div.controls {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

button.hide {
    width: 60pt;
    background-color: yellow;
    color: black;
}

button.show {
    width: 60pt;
    background-color: green;
    color: white;
}

button.reset_button {
    width: 60pt;
    background-color: darkgreen;
    color: white;
}

button.plus_enabled {
    color: white;
    background-color: green;
    width: 60pt;
}

button.plus_disabled {
}

span.message {
    color: red;
}

div.starting_graph_collapsed {
    display: none;
}

div.starting_graph_expanded {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;    
}

div.result_graph_normal {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;    
}

div.result_graph_expanded {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;    
}
