<div style="display: grid; grid-template-columns: auto auto; width: 100%">
<div class="left_text" [style.grid_row]="top_row">
  <app-soffit-textarea #left_text></app-soffit-textarea>
</div>
<div class="right_text" [style.grid_row]="top_row">
  <app-soffit-textarea #right_text></app-soffit-textarea>
</div>
<div class="left_graph" [style.grid_row]="bottom_row">
  <app-graph-output #left [show_node_names]=true></app-graph-output>
</div>
<div class="right_graph" [style.grid_row]="bottom_row">
  <app-graph-output #right [show_node_names]=true></app-graph-output>
</div>
</div>

